In [354]:
import pandas as pd

In [355]:
import pickle as pk

In [356]:
df = pd.read_csv("data.csv")

In [357]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...",Bachelor's in Computer Science,"Programming, Algorithms, Debugging","Technology, Problem-solving",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,Bachelor of Science in Nursing,"Patient assessment, Medication administration","Helping others, Medicine","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,Bachelor's in Graphic Design,"Adobe Creative Suite, Typography","Creativity, Art","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,Bachelor's in Statistics,"Excel, SQL, Data visualization","Analytics, Patterns","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,Bachelor's in Education + Teaching License,"Curriculum planning, Classroom management","Teaching, Child development","Educational blogging, Tutoring"

In [358]:
df.shape

(182, 6)

In [359]:
def split(obj):
    if '+' in obj:
        obj = obj.replace('+',' ')
        return obj.split()
    elif '/' in obj:
        obj = obj.replace('/',' ')
        return obj.split()
    elif ',' in obj:
        obj = obj.replace(',',' ')
        return obj.split()
    else:
        return obj.split()

In [360]:
def strip(lst):
    l=[]
    for i in lst:
        if ',' in i:
            l.append(i.strip(','))
        else:
            l.append(i.strip())
    return l

In [361]:
df["Qualification"] = df["Qualification"].apply(split)

In [362]:
df["Qualification"] = df["Qualification"].apply(strip)

In [363]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...","[Bachelor's, in, Computer, Science]","Programming, Algorithms, Debugging","Technology, Problem-solving",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,"[Bachelor, of, Science, in, Nursing]","Patient assessment, Medication administration","Helping others, Medicine","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,"[Bachelor's, in, Graphic, Design]","Adobe Creative Suite, Typography","Creativity, Art","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,"[Bachelor's, in, Statistics]","Excel, SQL, Data visualization","Analytics, Patterns","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's, in, Education, Teaching, License]","Curriculum planning, Classroom management","Teaching, Child development","Educational blogging, Tutoring"

In [364]:
df["Skills"] = df["Skills"].apply(split)

In [365]:
df["Skills"] = df["Skills"].apply(strip)

In [366]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...","[Bachelor's, in, Computer, Science]","[Programming, Algorithms, Debugging]","Technology, Problem-solving",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,"[Bachelor, of, Science, in, Nursing]","[Patient, assessment, Medication, administration]","Helping others, Medicine","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,"[Bachelor's, in, Graphic, Design]","[Adobe, Creative, Suite, Typography]","Creativity, Art","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,"[Bachelor's, in, Statistics]","[Excel, SQL, Data, visualization]","Analytics, Patterns","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's, in, Education, Teaching, License]","[Curriculum, planning, Classroom, management]","Teaching, Child development","Educational blogging, Tutoring"

In [367]:
df["Interest"] = df["Interest"].apply(split)

In [368]:
df["Interest"] = df["Interest"].apply(strip)

In [369]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...","[Bachelor's, in, Computer, Science]","[Programming, Algorithms, Debugging]","[Technology, Problem-solving]",Coding side projects
1,Registered Nurse,Provides patient care in healthcare settings,"[Bachelor, of, Science, in, Nursing]","[Patient, assessment, Medication, administration]","[Helping, others, Medicine]","Health blogging, Yoga"
2,Graphic Designer,Creates visual concepts for communications,"[Bachelor's, in, Graphic, Design]","[Adobe, Creative, Suite, Typography]","[Creativity, Art]","Digital illustration, Photography"
3,Data Analyst,Interprets complex data to inform decisions,"[Bachelor's, in, Statistics]","[Excel, SQL, Data, visualization]","[Analytics, Patterns]","Puzzle games, Data competitions"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's, in, Education, Teaching, License]","[Curriculum, planning, Classroom, management]","[Teaching, Child, development]","Educational blogging, Tutoring"

In [370]:
df["Hobby"] = df["Hobby"].apply(split)

In [371]:
df["Hobby"] = df["Hobby"].apply(strip)

In [372]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby
0,Software Engineer,"Designs, develops, and tests software applicat...","[Bachelor's, in, Computer, Science]","[Programming, Algorithms, Debugging]","[Technology, Problem-solving]","[Coding, side, projects]"
1,Registered Nurse,Provides patient care in healthcare settings,"[Bachelor, of, Science, in, Nursing]","[Patient, assessment, Medication, administration]","[Helping, others, Medicine]","[Health, blogging, Yoga]"
2,Graphic Designer,Creates visual concepts for communications,"[Bachelor's, in, Graphic, Design]","[Adobe, Creative, Suite, Typography]","[Creativity, Art]","[Digital, illustration, Photography]"
3,Data Analyst,Interprets complex data to inform decisions,"[Bachelor's, in, Statistics]","[Excel, SQL, Data, visualization]","[Analytics, Patterns]","[Puzzle, games, Data, competitions]"
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's, in, Education, Teaching, License]","[Curriculum, planning, Classroom, management]","[Teaching, Child, development]","[Educational, blogging, Tutoring]"

In [373]:
df['Tags'] = df['Qualification'] + df['Skills'] + df['Interest'] + df['Hobby']

In [374]:
df.head()

,Career,Description,Qualification,Skills,Interest,Hobby,Tags
0,Software Engineer,"Designs, develops, and tests software applicat...","[Bachelor's, in, Computer, Science]","[Programming, Algorithms, Debugging]","[Technology, Problem-solving]","[Coding, side, projects]","[Bachelor's, in, Computer, Science, Programmin..."
1,Registered Nurse,Provides patient care in healthcare settings,"[Bachelor, of, Science, in, Nursing]","[Patient, assessment, Medication, administration]","[Helping, others, Medicine]","[Health, blogging, Yoga]","[Bachelor, of, Science, in, Nursing, Patient, ..."
2,Graphic Designer,Creates visual concepts for communications,"[Bachelor's, in, Graphic, Design]","[Adobe, Creative, Suite, Typography]","[Creativity, Art]","[Digital, illustration, Photography]","[Bachelor's, in, Graphic, Design, Adobe, Creat..."
3,Data Analyst,Interprets complex data to inform decisions,"[Bachelor's, in, Statistics]","[Excel, SQL, Data, visualization]","[Analytics, Patterns]","[Puzzle, games, Data, competitions]","[Bachelor's, in, Statistics, Excel, SQL, Data,..."
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's, in, Education, Teaching, License]","[Curriculum, planning, Classroom, management]","[Teaching, Child, development]","[Educational, blogging, Tutoring]","[Bachelor's, in, Education, Teaching, License,..."

In [375]:
df['Career'].values

array(['Software Engineer', 'Registered Nurse', 'Graphic Designer',
       'Data Analyst', 'Elementary Teacher', 'Civil Engineer',
       'Marketing Manager', 'Financial Advisor', 'Mechanical Engineer',
       'Psychologist', 'Chef', 'Electrician', 'Web Developer',
       'Physical Therapist', 'Accountant', 'Architect',
       'Dental Hygienist', 'Human Resources Manager',
       'Biomedical Scientist', 'Environmental Scientist',
       'Pharmacy Technician', 'Veterinarian', 'Social Media Manager',
       'Paralegal', 'Industrial Designer', 'Aerospace Engineer',
       'Technical Writer', 'Occupational Therapist',
       'Market Research Analyst', 'Dentist', 'Event Planner', 'Economist',
       'Forensic Scientist', 'Urban Planner', 'Robotics Engineer',
       'Cybersecurity Analyst', 'Librarian', 'Physical Trainer',
       'Real Estate Agent', 'Speech-Language Pathologist', 'Biologist',
       'Chemist', 'Geologist', 'Meteorologist', 'Animator', 'Interpreter',
       'Commercial Pilot', 'Court Reporter', 'Genetic Counselor',
       'Marine Biologist', 'Phlebotomist', 'Radiologic Technologist',
       'Sound Engineer', 'Technical Support Specialist', 'Travel Agent',
       'Veterinary Technician', 'Web Designer', 'Welder',
       'Youth Counselor', 'Zoologist', 'Database Administrator',
       'Ethical Hacker', 'Fitness Instructor', 'Forester',
       'Game Developer', 'Historian', 'Industrial Engineer', 'Journalist',
       'Kindergarten Teacher', 'Landscape Architect', 'Massage Therapist',
       'Music Teacher', 'Nutritionist', 'Operations Manager', 'Paramedic',
       'Personal Trainer', 'Quality Assurance Analyst', 'Radiologist',
       'Solar Technician', 'Technical Sales Engineer', 'UX Designer',
       'Video Producer', 'Wildlife Biologist', 'X-Ray Technician',
       'Yoga Instructor', 'Zookeeper', 'AI Specialist',
       'Blockchain Developer', 'Cloud Architect', 'Data Scientist',
       'Environmental Engineer', 'Financial Analyst', 'Geneticist',
       'Augmented Reality Designer', 'Bioinformatician',
       'Chief Sustainability Officer', 'Clinical Research Coordinator',
       'Cognitive Neuroscientist', 'Cryptocurrency Analyst',
       'Cybersecurity Consultant', 'Data Privacy Officer',
       'Digital Archivist', 'Drone Operator', 'E-Commerce Specialist',
       'Educational Technologist', 'Ethical AI Auditor',
       'Forensic Accountant', 'Genetic Engineer',
       'Geriatric Care Manager', 'Health Informatics Specialist',
       'Hydroponics Farmer', 'Industrial Hygienist',
       'IoT Solutions Architect', 'Language Localization Specialist',
       'Marine Conservationist', 'Medical Illustrator',
       'Nanotechnology Engineer', 'Opera Singer', 'Paleontologist',
       'Quantum Computing Researcher', 'Renewable Energy Engineer',
       'Robotics Technician', 'Sports Statistician',
       'Telehealth Coordinator', 'User Research Specialist',
       'Virtual Reality Developer', 'Wilderness Guide', 'Xenolinguist',
       'Youth Sports Coordinator', 'Zoological Veterinarian',
       'Accessibility Consultant', 'Behavioral Economist',
       'Culinary Scientist', 'Digital Forensics Expert',
       'Ecological Modeler', 'Fashion Technologist', 'Geoarchaeologist',
       'Hydrogeologist', 'Immunology Researcher', 'Jewelry Designer',
       'Kinesiologist', 'Lighting Designer', 'Museum Educator',
       'Nuclear Medicine Technologist', 'Ophthalmic Technician',
       'Petroleum Geologist', 'Quality Control Chemist',
       'Robotics Ethicist', 'Sound Designer',
       'Therapeutic Recreation Specialist', 'Urban Farmer',
       'Video Game Writer', 'Wind Turbine Technician',
       'Xenobotany Researcher', 'Yacht Designer',
       'Zincography Specialist', 'AI Policy Advisor',
       'Blockchain Legal Expert', 'Cosmetic Chemist', 'Dark Sky Advocate',
       'Electromagnetic Field Specialist', 'Food Stylist',
       'Gemological Scientist', 'Horticultural Therapist',
       'Industrial Psychologist', 'Jazz Musician', 'Kinetic Sculptor',
       'Luthier', 'Mycologist', 'Neonatal Nurse Practitioner',
       'Oenologist', 'Packaging Designer', 'Quantum Cryptographer',
       'Radiopharmacist', 'Sustainable Architect', 'Tissue Engineer',
       'Underwater Welder', 'Voice User Interface Designer',
       'Wind Energy Analyst', 'Xylographer', 'Youth Climate Activist',
       'Zymurgist'], dtype=object)

In [376]:
df['Interest'].values

array([list(['Technology', 'Problem-solving']),
       list(['Helping', 'others', 'Medicine']),
       list(['Creativity', 'Art']), list(['Analytics', 'Patterns']),
       list(['Teaching', 'Child', 'development']),
       list(['Problem-solving', 'Design']),
       list(['Consumer', 'behavior', 'Creativity']),
       list(['Numbers', 'Economics']), list(['Innovation', 'Physics']),
       list(['Human', 'behavior', 'Helping', 'others']),
       list(['Food', 'science', 'Creativity']),
       list(['Practical', 'work', 'Problem-solving']),
       list(['Technology', 'Design']),
       list(['Health', 'sciences', 'Helping', 'others']),
       list(['Numbers', 'Organization']),
       list(['Design', 'Spatial', 'reasoning']),
       list(['Oral', 'health', 'Detail', 'orientation']),
       list(['Psychology', 'Communication']),
       list(['Research', 'Biology']), list(['Nature', 'Sustainability']),
       list(['Healthcare', 'Precision']),
       list(['Animal', 'welfare', 'Biology']),
       list(['Trends', 'Creativity']), list(['Law', 'Research']),
       list(['Creativity', 'Ergonomics']), list(['Space', 'Physics']),
       list(['Writing', 'Technology']),
       list(['Helping', 'others', 'Health', 'sciences']),
       list(['Consumer', 'behavior', 'Trends']),
       list(['Oral', 'health', 'Precision']),
       list(['Organization', 'Creativity']),
       list(['Economics', 'Research']),
       list(['Science', 'Detail', 'orientation']),
       list(['Sustainability', 'Design']),
       list(['Automation', 'Innovation']),
       list(['Technology', 'Security']),
       list(['Literature', 'Organization']), list(['Fitness', 'Health']),
       list(['Sales', 'Architecture']), list(['Language', 'Healthcare']),
       list(['Nature', 'Science']), list(['Science', 'Research']),
       list(['Nature', 'Science']), list(['Science', 'Patterns']),
       list(['Art', 'Storytelling']),
       list(['Languages', 'Communication']), list(['Aviation', 'Travel']),
       list(['Law', 'Detail', 'orientation']),
       list(['Healthcare', 'Ethics']),
       list(['Ocean', 'conservation', 'Science']),
       list(['Healthcare', 'Precision']),
       list(['Healthcare', 'Technology']), list(['Music', 'Technology']),
       list(['Technology', 'Helping', 'others']),
       list(['Travel', 'Geography']), list(['Animal', 'care', 'Biology']),
       list(['Creativity', 'Technology']),
       list(['Practical', 'work', 'Precision']),
       list(['Helping', 'others', 'Psychology']),
       list(['Animal', 'welfare', 'Science']),
       list(['Technology', 'Organization']),
       list(['Technology', 'Problem-solving']),
       list(['Fitness', 'Motivation']), list(['Nature', 'Conservation']),
       list(['Technology', 'Creativity']), list(['History', 'Culture']),
       list(['Efficiency', 'Problem-solving']),
       list(['Current', 'events', 'Writing']),
       list(['Teaching', 'Child', 'psychology']),
       list(['Design', 'Nature']),
       list(['Wellness', 'Helping', 'others']),
       list(['Music', 'Teaching']), list(['Health', 'Food', 'science']),
       list(['Management', 'Efficiency']),
       list(['Healthcare', 'Crisis', 'management']),
       list(['Fitness', 'Health']),
       list(['Detail', 'orientation', 'Technology']),
       list(['Medicine', 'Technology']),
       list(['Renewable', 'energy', 'Technology']),
       list(['Technology', 'Persuasion']),
       list(['Psychology', 'Technology']),
       list(['Storytelling', 'Creativity']),
       list(['Animal', 'conservation', 'Science']),
       list(['Healthcare', 'Technology']),
       list(['Wellness', 'Mindfulness']),
       list(['Animal', 'welfare', 'Biology']),
       list(['Technology', 'Research']), list(['Technology', 'Finance']),
       list(['Technology', 'Architecture']),
       list(['Analytics', 'Problem-solving']),
       list(['Ecology', 'Problem-solving']),
       list(['Numbers', 'Analysis']), list(['Biology', 'Research']),
       list(['Technology', 'Creativity']),
       list(['Biology', 'Technology']),
       list(['Environment', 'Leadership']),
       list(['Research', 'Healthcare']), list(['Research', 'Psychology']),
       list(['Finance', 'Technology']),
       list(['Technology', 'Problem-solving']),
       list(['Law', 'Technology']), list(['History', 'Organization']),
       list(['Technology', 'Aviation']), list(['Business', 'Technology']),
       list(['Education', 'Technology']),
       list(['Technology', 'Social', 'justice']),
       list(['Numbers', 'Investigation']),
       list(['Biotechnology', 'Research']),
       list(['Helping', 'others', 'Healthcare']),
       list(['Healthcare', 'Technology']),
       list(['Sustainability', 'Biology']), list(['Safety', 'Science']),
       list(['Technology', 'Innovation']),
       list(['Languages', 'Communication']),
       list(['Conservation', 'Biology']), list(['Art', 'Medicine']),
       list(['Research', 'Innovation']),
       list(['Music', 'Performing', 'arts']),
       list(['History', 'Science']), list(['Physics', 'Mathematics']),
       list(['Sustainability', 'Technology']),
       list(['Technology', 'Problem-solving']),
       list(['Sports', 'Analytics']), list(['Healthcare', 'Technology']),
       list(['Psychology', 'Technology']),
       list(['Technology', 'Creativity']), list(['Nature', 'Adventure']),
       list(['Languages', 'Space']), list(['Sports', 'Education']),
       list(['Animal', 'welfare', 'Biology']),
       list(['Inclusion', 'Technology']),
       list(['Psychology', 'Economics']), list(['Food', 'Science']),
       list(['Technology', 'Investigation']),
       list(['Nature', 'Mathematics']), list(['Fashion', 'Technology']),
       list(['History', 'Earth', 'science']),
       list(['Water', 'resources', 'Science']),
       list(['Biology', 'Research']), list(['Art', 'Design']),
       list(['Human', 'movement', 'Sports']), list(['Art', 'Technology']),
       list(['Education', 'Culture']), list(['Healthcare', 'Technology']),
       list(['Healthcare', 'Precision']),
       list(['Earth', 'science', 'Exploration']),
       list(['Quality', 'Science']), list(['Technology', 'Philosophy']),
       list(['Audio', 'engineering', 'Storytelling']),
       list(['Wellness', 'Helping', 'others']),
       list(['Sustainability', 'Food']), list(['Writing', 'Gaming']),
       list(['Renewable', 'energy', 'Technology']),
       list(['Plants', 'Space']),
       list(['Marine', 'engineering', 'Design']),
       list(['Art', 'Chemistry']), list(['Law', 'Technology']),
       list(['Law', 'Technology']), list(['Chemistry', 'Beauty']),
       list(['Astronomy', 'Conservation']), list(['Physics', 'Health']),
       list(['Food', 'Art']), list(['Geology', 'Chemistry']),
       list(['Nature', 'Wellness']), list(['Psychology', 'Business']),
       list(['Music', 'Creativity']), list(['Art', 'Engineering']),
       list(['Craftsmanship', 'Music']), list(['Biology', 'Nature']),
       list(['Healthcare', 'Pediatrics']),
       list(['Chemistry', 'Agriculture']), list(['Design', 'Marketing']),
       list(['Mathematics', 'Security']),
       list(['Pharmacy', 'Nuclear', 'medicine']),
       list(['Sustainability', 'Design']),
       list(['Biotechnology', 'Medicine']),
       list(['Adventure', 'Technical', 'work']),
       list(['Technology', 'Linguistics']),
       list(['Renewable', 'energy', 'Analytics']),
       list(['Art', 'Craftsmanship']),
       list(['Environment', 'Social', 'justice']),
       list(['Food', 'science', 'Chemistry'])], dtype=object)

In [377]:
import numpy as np

In [378]:
L=[]
for i in df['Interest'].values:
    for j in i:
        L.append(j)

In [379]:
np.array(L)

array(['Technology', 'Problem-solving', 'Helping', 'others', 'Medicine',
       'Creativity', 'Art', 'Analytics', 'Patterns', 'Teaching', 'Child',
       'development', 'Problem-solving', 'Design', 'Consumer', 'behavior',
       'Creativity', 'Numbers', 'Economics', 'Innovation', 'Physics',
       'Human', 'behavior', 'Helping', 'others', 'Food', 'science',
       'Creativity', 'Practical', 'work', 'Problem-solving', 'Technology',
       'Design', 'Health', 'sciences', 'Helping', 'others', 'Numbers',
       'Organization', 'Design', 'Spatial', 'reasoning', 'Oral', 'health',
       'Detail', 'orientation', 'Psychology', 'Communication', 'Research',
       'Biology', 'Nature', 'Sustainability', 'Healthcare', 'Precision',
       'Animal', 'welfare', 'Biology', 'Trends', 'Creativity', 'Law',
       'Research', 'Creativity', 'Ergonomics', 'Space', 'Physics',
       'Writing', 'Technology', 'Helping', 'others', 'Health', 'sciences',
       'Consumer', 'behavior', 'Trends', 'Oral', 'health', 'Precision',
       'Organization', 'Creativity', 'Economics', 'Research', 'Science',
       'Detail', 'orientation', 'Sustainability', 'Design', 'Automation',
       'Innovation', 'Technology', 'Security', 'Literature',
       'Organization', 'Fitness', 'Health', 'Sales', 'Architecture',
       'Language', 'Healthcare', 'Nature', 'Science', 'Science',
       'Research', 'Nature', 'Science', 'Science', 'Patterns', 'Art',
       'Storytelling', 'Languages', 'Communication', 'Aviation', 'Travel',
       'Law', 'Detail', 'orientation', 'Healthcare', 'Ethics', 'Ocean',
       'conservation', 'Science', 'Healthcare', 'Precision', 'Healthcare',
       'Technology', 'Music', 'Technology', 'Technology', 'Helping',
       'others', 'Travel', 'Geography', 'Animal', 'care', 'Biology',
       'Creativity', 'Technology', 'Practical', 'work', 'Precision',
       'Helping', 'others', 'Psychology', 'Animal', 'welfare', 'Science',
       'Technology', 'Organization', 'Technology', 'Problem-solving',
       'Fitness', 'Motivation', 'Nature', 'Conservation', 'Technology',
       'Creativity', 'History', 'Culture', 'Efficiency',
       'Problem-solving', 'Current', 'events', 'Writing', 'Teaching',
       'Child', 'psychology', 'Design', 'Nature', 'Wellness', 'Helping',
       'others', 'Music', 'Teaching', 'Health', 'Food', 'science',
       'Management', 'Efficiency', 'Healthcare', 'Crisis', 'management',
       'Fitness', 'Health', 'Detail', 'orientation', 'Technology',
       'Medicine', 'Technology', 'Renewable', 'energy', 'Technology',
       'Technology', 'Persuasion', 'Psychology', 'Technology',
       'Storytelling', 'Creativity', 'Animal', 'conservation', 'Science',
       'Healthcare', 'Technology', 'Wellness', 'Mindfulness', 'Animal',
       'welfare', 'Biology', 'Technology', 'Research', 'Technology',
       'Finance', 'Technology', 'Architecture', 'Analytics',
       'Problem-solving', 'Ecology', 'Problem-solving', 'Numbers',
       'Analysis', 'Biology', 'Research', 'Technology', 'Creativity',
       'Biology', 'Technology', 'Environment', 'Leadership', 'Research',
       'Healthcare', 'Research', 'Psychology', 'Finance', 'Technology',
       'Technology', 'Problem-solving', 'Law', 'Technology', 'History',
       'Organization', 'Technology', 'Aviation', 'Business', 'Technology',
       'Education', 'Technology', 'Technology', 'Social', 'justice',
       'Numbers', 'Investigation', 'Biotechnology', 'Research', 'Helping',
       'others', 'Healthcare', 'Healthcare', 'Technology',
       'Sustainability', 'Biology', 'Safety', 'Science', 'Technology',
       'Innovation', 'Languages', 'Communication', 'Conservation',
       'Biology', 'Art', 'Medicine', 'Research', 'Innovation', 'Music',
       'Performing', 'arts', 'History', 'Science', 'Physics',
       'Mathematics', 'Sustainability', 'Technology', 'Technology',
       'Problem-solving', 'Sports', 'Analytics', 'Healthcare',
       'Technology', 'Psychology', 'Technology', 'Technology',
       'Creativity', 'Nature', 'Adventure', 'Languages', 'Space',
       'Sports', 'Education', 'Animal', 'welfare', 'Biology', 'Inclusion',
       'Technology', 'Psychology', 'Economics', 'Food', 'Science',
       'Technology', 'Investigation', 'Nature', 'Mathematics', 'Fashion',
       'Technology', 'History', 'Earth', 'science', 'Water', 'resources',
       'Science', 'Biology', 'Research', 'Art', 'Design', 'Human',
       'movement', 'Sports', 'Art', 'Technology', 'Education', 'Culture',
       'Healthcare', 'Technology', 'Healthcare', 'Precision', 'Earth',
       'science', 'Exploration', 'Quality', 'Science', 'Technology',
       'Philosophy', 'Audio', 'engineering', 'Storytelling', 'Wellness',
       'Helping', 'others', 'Sustainability', 'Food', 'Writing', 'Gaming',
       'Renewable', 'energy', 'Technology', 'Plants', 'Space', 'Marine',
       'engineering', 'Design', 'Art', 'Chemistry', 'Law', 'Technology',
       'Law', 'Technology', 'Chemistry', 'Beauty', 'Astronomy',
       'Conservation', 'Physics', 'Health', 'Food', 'Art', 'Geology',
       'Chemistry', 'Nature', 'Wellness', 'Psychology', 'Business',
       'Music', 'Creativity', 'Art', 'Engineering', 'Craftsmanship',
       'Music', 'Biology', 'Nature', 'Healthcare', 'Pediatrics',
       'Chemistry', 'Agriculture', 'Design', 'Marketing', 'Mathematics',
       'Security', 'Pharmacy', 'Nuclear', 'medicine', 'Sustainability',
       'Design', 'Biotechnology', 'Medicine', 'Adventure', 'Technical',
       'work', 'Technology', 'Linguistics', 'Renewable', 'energy',
       'Analytics', 'Art', 'Craftsmanship', 'Environment', 'Social',
       'justice', 'Food', 'science', 'Chemistry'], dtype='<U15')

In [380]:
new_df = df[['Career','Description','Tags']]

In [381]:
new_df.head()

,Career,Description,Tags
0,Software Engineer,"Designs, develops, and tests software applicat...","[Bachelor's, in, Computer, Science, Programmin..."
1,Registered Nurse,Provides patient care in healthcare settings,"[Bachelor, of, Science, in, Nursing, Patient, ..."
2,Graphic Designer,Creates visual concepts for communications,"[Bachelor's, in, Graphic, Design, Adobe, Creat..."
3,Data Analyst,Interprets complex data to inform decisions,"[Bachelor's, in, Statistics, Excel, SQL, Data,..."
4,Elementary Teacher,Educates children in foundational subjects,"[Bachelor's, in, Education, Teaching, License,..."

In [382]:
new_df['Tags'] = new_df['Tags'].apply(lambda x:' '.join(x))

C:\Users\lovku\AppData\Local\Temp\ipykernel_19192\3407077410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags'] = new_df['Tags'].apply(lambda x:' '.join(x))

In [383]:
new_df.head()

,Career,Description,Tags
0,Software Engineer,"Designs, develops, and tests software applicat...",Bachelor's in Computer Science Programming Alg...
1,Registered Nurse,Provides patient care in healthcare settings,Bachelor of Science in Nursing Patient assessm...
2,Graphic Designer,Creates visual concepts for communications,Bachelor's in Graphic Design Adobe Creative Su...
3,Data Analyst,Interprets complex data to inform decisions,Bachelor's in Statistics Excel SQL Data visual...
4,Elementary Teacher,Educates children in foundational subjects,Bachelor's in Education Teaching License Curri...

In [410]:
index = new_df[new_df['Career'] == 'Software Engineer'].index[0]
print(index)

0

In [384]:
new_df['Tags'] = new_df['Tags'].apply(lambda x:x.lower())

C:\Users\lovku\AppData\Local\Temp\ipykernel_19192\1574902671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags'] = new_df['Tags'].apply(lambda x:x.lower())

In [385]:
new_df.iloc[0].Tags

"bachelor's in computer science programming algorithms debugging technology problem-solving coding side projects"

In [386]:
new_df.iloc[0].Career

'Software Engineer'

In [387]:
pk.dump(new_df,open('career.pkl','ab'))

In [388]:
import numpy as np

In [394]:
from nltk.stem.porter import PorterStemmer

In [395]:
ps = PorterStemmer()

In [396]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [398]:
new_df['Tags'] = new_df['Tags'].apply(stem)

C:\Users\lovku\AppData\Local\Temp\ipykernel_19192\634297125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Tags'] = new_df['Tags'].apply(stem)

In [399]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=200, stop_words='english')

In [400]:
vectors = cv.fit_transform(new_df['Tags']).toarray()

In [401]:
vectors[0]

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [402]:
cv.get_feature_names_out()

array(['3d', 'adapt', 'advocaci', 'agricultur', 'algorithm', 'analysi',
       'analyt', 'anim', 'app', 'architectur', 'art', 'assess',
       'associate', 'astronomi', 'audio', 'audit', 'bachelor', 'behavior',
       'biolog', 'blog', 'build', 'busi', 'cad', 'care', 'cert', 'certif',
       'chemic', 'chemistri', 'child', 'cloud', 'coach', 'code',
       'collect', 'commun', 'competit', 'comput', 'conserv', 'cook',
       'counsel', 'creation', 'creativ', 'crime', 'crypto', 'cs',
       'cultur', 'cybersecur', 'data', 'debat', 'degre', 'dental',
       'design', 'develop', 'digit', 'diploma', 'dive', 'diy', 'doctor',
       'econom', 'edit', 'educ', 'electr', 'electron', 'energi', 'eng',
       'engin', 'environ', 'environment', 'ethic', 'event', 'exercis',
       'experi', 'explor', 'field', 'financ', 'financi', 'fit', 'food',
       'game', 'garden', 'genet', 'geolog', 'gi', 'handl', 'health',
       'healthcar', 'help', 'high', 'hike', 'histori', 'home', 'human',
       'identif', 'imag', 'industri', 'innov', 'instruct', 'journal',
       'knowledg', 'lab', 'languag', 'law', 'learn', 'legal', 'licens',
       'light', 'linguist', 'mainten', 'make', 'manag', 'map', 'marin',
       'market', 'master', 'mathemat', 'mechan', 'medic', 'medicin',
       'metalwork', 'microscopi', 'miner', 'model', 'monitor', 'museum',
       'music', 'natur', 'navig', 'network', 'number', 'nutrit', 'organ',
       'orient', 'patient', 'perform', 'phd', 'photographi', 'physic',
       'plan', 'podcast', 'polici', 'practic', 'precis', 'privaci',
       'problem', 'process', 'program', 'project', 'protocol',
       'psycholog', 'public', 'puzzl', 'qualiti', 'quantum', 'rehab',
       'research', 'robot', 'rock', 'safeti', 'school', 'scienc', 'scuba',
       'sculptur', 'secur', 'servic', 'simul', 'sketch', 'smart',
       'social', 'solar', 'solv', 'space', 'sport', 'standard', 'statist',
       'storytel', 'studi', 'survey', 'sustain', 'teach', 'tech',
       'technic', 'techniqu', 'technolog', 'test', 'theori', 'therapi',
       'tour', 'track', 'train', 'travel', 'trend', 'true', 'visual',
       'volunt', 'weather', 'weld', 'welfar', 'wildlif', 'work', 'write',
       'yoga'], dtype=object)